<% if stock.change > 0 then %>
<div id="good_stock">
<% else %>
<div id="bad_stock">
<% end %>
	<div id="stock_symbol">
		<%= stock.symbol %>
	</div>
	<div id="stock_change">
		<%= stock.change %>%
	</div>
	<div id="stock_value">
		<%= stock.value %>
	</div>
	<div id="stock_twit">
		<%= stock.last_twit.text %>
	</div>
</div>
