<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=Latin">
	<title> Twinance [Twitter + Yahoo Finance Dashboard] </title>
	<%= stylesheet_link_tag 'main' %>
</head>
<script type="text/javascript">
	function enableAutoRefresh(){
		setTimeout('location.reload(true)', 60000);
	}
</script>
<body onLoad="enableAutoRefresh()">
	<%= yield%>
</body>
</html>